<h2 (click)="t()">Create a new task</h2>
<h2 [ngModel]="d"></h2>
<!-- 
<form>
  <div class="form-group">
    <label for="taskTitle">Title</label>
    <input type="text" [(ngModel)]="titleInput" name="title" class="form-control">
    <div *ngIf="!titleInput" style="color: red;">
      <div *ngIf="!titleInput">Fullname is required</div>
    </div>

    
  </div>

  <div class="form-group">
    <label for="taskNote">Note</label>
    <input type="text" id="taskNote" class="form-control" [formControl]="note">
  </div>

  <div>
    <button [disabled]="!titleInput" (click)="createTask()" class="btn btn-primary">Create</button>
    <button class="btn btn-light" [routerLink]="['/tasks']">Back</button>
  </div>
</form> -->
